<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Demo App - KubeCon 2022</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fancybox/jquery.fancybox.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='jcarousel.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='flexslider.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

 

</head>
<body>
<div id="wrapper">

	<!-- start header -->
		<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  <!-- <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"/></a> -->
				  <a class="navbar-brand" href="index.html"><img src="{{url_for('static', filename='img/logo1.png')}}" alt="logo"/></a>

                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li> <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a></li> 
						<li class="nav-item nav-link"><a class="nav-item nav-link" href="/users/register">Register</a></li>
                        {% if current_user.is_authenticated %}
						<li><a class="nav-item nav-link" href="/users/list">List Users</a></li>
                        <li><a class="nav-item nav-link" href="{{ url_for('users.logout')}}">Logout</a></li>
                        {% else %}
                        <li><a class="nav-item nav-link" href="{{ url_for('users.login') }}">Log In</a></li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </div>
	</header><!-- end header -->
 
   <br>
   <br>
	<section id="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}

        {% endblock %}

                </div>
    
                
            </div>
        </div>

        

    </section>
   


    <br>
	<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h4 class="widgetheading">Cloud Consulting</h4>
					
					<p>
						<i class="icon-envelope-alt"></i> consulting@fortinet.com
					</p>
				</div>
			</div>
		
		</div>
	</div>
	
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.fancybox.pack.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.fancybox-media.js')}}"></script> 
<script src="{{url_for('static', filename='js/portfolio/jquery.quicksand.js')}}"></script> 
<script src="{{url_for('static', filename='js/portfolio/js/portfolio/setting.js')}}"></script> 
<script src="{{url_for('static', filename='js/jquery.flexslider.js')}}"></script> 
<script src="{{url_for('static', filename='js/animate.js')}}"></script> 
<script src="{{url_for('static', filename='js/custom.js')}}"></script> 

</body>
</html>