{% extends "base.html" %}
{% block content %}



  {% if current_user.is_authenticated %} 

  <p>  <h1>Flawed Demo App</h1>
    Welcome {{current_user.name}} {{current_user.lastname}}</p>

  <br>



  
  {% else  %} 

  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="pageTitle">Protecting critical infrastructure in all phases of your application updated on Fev 7th at 10AM</h2>
        </div>
      </div>
    </div>
    </section>
    <br>

	<div class="container">
					
					<div class="about">
					
						<div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<p>
										As more application teams adopt Continuous Integration/Continuous Delivery (CI/CD) workflows to enable application development, it’s increasingly important that organizations have integrated and automated security in place to protect these workflows.
										</p>
                                    	<p>CI/CD pipelines are at the center of daily operations for businesses across industries. When set up properly, they ensure consistency across delivery processes by automating manual tasks and providing visibility into how software is being worked on. It is within these pipelines where a network’s infrastructure has access to various resources, including code signing credentials and analytics keys. </p>
										<p>Since most modern applications are based on a micro-service architecture, DevOps teams have leveraged containers and container orchestration platforms, such as Kubernetes, to build and deploy their applications. As a result, container security must be a critical component of any solution that tries to protect CI/CD workflows. Below are considerations for DevOps teams to ensure their container strategy isn’t compromising security. </p>
								</div>
							</div>
							
						</div>
						
						<hr>
						<div class="row"> 
							<div class="col-md-12">
								<h3>How DevSecOps Teams Can Achieve Security for the Entire Applications Lifecycle</h3>
                <br>
								<div class="about-logo">
									<p>Security should not be limited to only one part of a DevOps workflow. Instead, it needs to be injected into every stage of a CI/CD workflow pipeline—from the time that a developer checks in code to a code repository, until the time that the application is deployed to a runtime environment. At a high-level, a CI/CD pipeline is comprised of three stages: build, deploy, and run. It is paramount to secure each stage of the pipeline to prevent breaches in the overall lifecycle of an application. Here are five things to keep top of mind during each stage of the CI/CD workflow pipeline:  </p>

								</div>
							</div>
							<div class="col-md-12">


								<img src="{{url_for('static', filename='img/pipeline1.png')}}" class="img-thumbnail" alt="Responsive image"/>
							</div>
						</div>
						
						<div class="row">
							
							<div class="col-md-12">
								<div class="block-heading-two">
									<h3><span>Solution:</span></h3>
								</div>		
								<!-- Accordion starts -->
								<div class="panel-group" id="accordion-alt3">
								 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
								  <div class="panel">	
									<!-- Panel heading -->
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
											<i class="fa fa-angle-right"></i> 1.Scan application source code automatically 
										  </a>
										</h4>
									 </div>
									 <div id="collapseOne-alt3" class="panel-collapse collapse">
										<!-- Panel body -->
										<div class="panel-body">
                     						 Performs intensive and comprehensive scans for an accurate vulnerability assessment of your application. Integrate continuous application security testing into major DevOps CI/CD environments embedding it into the process of developing and deploying applications to evaluate and detect security gaps that you can mitigate/remediate in the course of the Software Development Lifecycle (SDLC).										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
											<i class="fa fa-angle-right"></i> 2.Build images securely 
										  </a>
										</h4>
									 </div>
									 <div id="collapseTwo-alt3" class="panel-collapse collapse">
										<div class="panel-body">
											Images often consist of source codes and third-party libraries. Before building an image, it is critical to parse packages and libraries to generate a detailed report of all vulnerabilities (CVEs) as well as the libraries/packages in which vulnerabilities are discovered. Additionally, certain libraries should be excluded if they can cause security risks. A vulnerability report may also be able to help detect the presence of credentials and/or secrets in an image.										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i> 3.Plug seamlessly into the CI/CD workflow 
										  </a>
										</h4>
									 </div>
									 <div id="collapseThree-alt3" class="panel-collapse collapse">
										<div class="panel-body">
											Most application teams leverage build tools such as Jenkins to automate their build process. In order to add security to a build pipeline, security solutions need to be integrated into common build frameworks. Such integration allows application teams to learn fast and fail/pass builds based on their organization’s requirements. For example, if an organization has a security requirement that does not allow deployment of an application with critical vulnerabilities, a policy needs to be set to fail builds when a critical vulnerability is found in an image.										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
											<i class="fa fa-angle-right"></i> 4.Run compliance checks against CIS benchmarks 
										  </a>
										</h4>
									 </div>
									 <div id="collapseFour-alt3" class="panel-collapse collapse">
										<div class="panel-body">
											As container orchestration platforms such as Kubernetes gain popularity, running static checks to detect potential vulnerabilities in those environments has become extremely important. The Center for Internet Security  (CIS) has released recommendations for Kubernetes best security practices. This includes recommendations for configuring Kubernetes to support a strong security posture, such as disabling anonymous requests to the API server and running containers only as a non-root user.										</div>
									 </div>
								  </div>
								  <div class="panel">
									<div class="panel-heading">
									   <h4 class="panel-title">
										 <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFive-alt3">
										   <i class="fa fa-angle-right"></i> 5.Continuous runtime security  
										 </a>
									   </h4>
									</div>
									<div id="collapseFive-alt3" class="panel-collapse collapse">
									   <div class="panel-body">
										<p> While preventing breaches in an application by shifting security to the earlier stages of a CI/CD pipeline is a key aspect of any comprehensive CI/CD security solution, securing running microservices is equally important. FortiADC, for example, while can be deployed as an ingress controller it also addresses ingress security and can protect applications against OWASP top 10 attacks.									
										</p>
										</div>
								 </div>
								</div>
								<!-- Accordion ends -->
								
							</div>
							
							
							
						</div>
						
						 						
				
						
						
					</div>
									
				</div>
	</section>


  {%endif%}
  
{% endblock %}